nav{
	justify-content: center;
	box-shadow: 0px 2px 6px -6px rgba(0, 0, 0, 0.5);
	height:4em;
	align-items:center;
	  
	 
}

nav a{
  text-decoration: none;
}

nav h1{
	background:#f7f24f ;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 4em;
	margin-top: auto;
	margin-bottom: auto;
}

nav .button{
	font-size: 1.2em;
	color: white;
}


#nav-content {
	display: flex;
	justify-content: center;
	align-items: center;
        width: 100%;
        position: relative;
}
          
#nav-links {
	position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
	margin-top: auto;
}

