_format_version: "3.0"
services:
  - name: imdtravel-srv
    url: http://imdtravel:3000
    routes:
      - name: imdtravel-route
        paths:
          - /imdtravel
        strip_path: true
        preserve_host: false
    plugins:
      - name: rate-limiting
        config:
          minute: 5
          policy: local # default is local
          fault_tolerant: true # default is false
          limit_by: ip # default is consumer
          hide_client_headers: false # default is false
        
  - name: airlineshub-srv
    url: http://airlineshub:3001
    routes:
      - name: airlineshub-route
        paths:
          - /airlineshub
        strip_path: true
        preserve_host: false
    plugins:
      - name: rate-limiting
        config:
          minute: 5
          policy: local # default is local
          fault_tolerant: true # default is false
          limit_by: ip # default is consumer
          hide_client_headers: false # default is false
      - name: jwt
        config:
          key_claim_name: iss
          cookie_names:
            - accessToken

  - name: exchange-srv
    url: http://exchange:3002
    routes:
      - name: exchange-route
        paths:
          - /exchange
        strip_path: true
        preserve_host: false
    plugins:
      - name: rate-limiting
        config:
          minute: 5
          policy: local # default is local
          fault_tolerant: true # default is false
          limit_by: ip # default is consumer
          hide_client_headers: false # default is false
      - name: basic-auth        
      
  - name: fidelity-srv
    url: http://fidelity:3003
    routes:
      - name: fidelity-route
        paths:
          - /fidelity
        strip_path: true
        preserve_host: false
    plugins:
      - name: rate-limiting
        config:
          minute: 5
          policy: local # default is local
          fault_tolerant: true # default is false
          limit_by: ip # default is consumer
          hide_client_headers: false # default is false
  - name: auth-srv
    url: http://auth:3004
    routes:
      - name: auth-route
        paths:
          - /auth
        strip_path: true
        preserve_host: false
    plugins:
      - name: rate-limiting
        config:
          minute: 5
          policy: local # default is local
          fault_tolerant: true # default is false
          limit_by: ip # default is consumer
          hide_client_headers: false # default is false

consumers:
  - custom_id: dab19db7-d907-4705-b3c9-aa309a3cebbf
    username: api-consumer
    tags:
      - api-client
    keyauth_credentials:
      - key: "my-secret-api-key-123456"
  - username: joaburbano
    tags:
      - user
    basicauth_credentials:
      - username: joaburbano
        password: "123123"
  - username: auth-service-client
    tags:
      - service
    jwt_secrets:
      - algorithm: HS256
        key: auth-service
        secret: ${JWT_SECRET}

plugins:
  - name: correlation-id
    config:
      header_name: Kong-Request-ID
      generator: uuid
      echo_downstream: true
  - name: response-transformer
    config:
      add:
        headers:
          - "X-API-Version:v1"
  - name: prometheus
    config:
      ai_metrics: true
      bandwidth_metrics: true
      latency_metrics: true
      per_consumer: true
      status_code_metrics: true
      bandwidth_metrics: true
      upstream_health_metrics: true
  - name: tcp-log
    config:
      host: fluent-bit
      port: 5170